<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div>
      <div id="event-header" class="linear-background-primary">
        <a href="/"
          ><h3 class="h3-text-roboto text-white-color">SLACA 2019</h3></a
        >
      </div>
      <img src="../assets/dewey 4.png" alt="Logo do evento" />
      <mat-nav-list>
        <a
          mat-list-item
          class="normal-text-quicksand text-secundary-color"
          href="/"
          >Apresentação</a
        >
        <a
          mat-list-item
          class="normal-text-quicksand text-secundary-color"
          href="/"
          >Comitês</a
        >
        <a
          mat-list-item
          class="normal-text-quicksand text-secundary-color"
          href="/"
          >Autores</a
        >
        <a
          mat-list-item
          class="normal-text-quicksand text-secundary-color"
          href="/"
          >Eixos temáticos</a
        >
        <!-- Cria uma div para colocar detalhe colorido ao lado da opção ativa. -->
        <div class="active-option">
          <div class="active-option-detail linear-background-primary"></div>
          <a
            mat-list-item
            class="normal-text-quicksand text-secundary-color"
            href="/"
            >Trabalhos</a
          >
        </div>
        <a
          mat-list-item
          class="normal-text-quicksand text-secundary-color"
          href="/"
          >Contato</a
        >
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main-body">
    <!-- Header -->
    <mat-card class="light-background">
      <mat-card-content class="flex-container">
        <div>
          <p class="text-secundary-color normal-text-roboto">
            Anais do Simpósio Latino Americano de Ciências de Alimentos
          </p>
          <h3 class="h4-text-roboto text-secundary-color">
            Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
          </h3>
          <p class="text-secundary-color normal-text-roboto">ISSN: 1234-5678</p>
        </div>

        <div class="profile-container">
          <div class="language-dropdown">
            <img
              src="../assets/language image.png"
              alt=""
              class="small-icon-img"
            />
            <select name="select" class="language-selector normal-text-roboto">
              <option value="pt-br" selected>PT, BR</option>
              <option value="en-us">EN, US</option>
            </select>
          </div>

          <div id="profile-div">
            <div>
              <p class="normal-text-roboto text-dark-color align-text-right">
                Bem Vindo!
              </p>
              <p class="text-dark-color small-text-roboto">
                alguem12@galoascience.com
              </p>
            </div>
            <div matBadge="3" matBadgeColor="warn">
              <img
                src="../assets/profile.jpg"
                alt="Profile Picture"
                class="profile-picture"
              />
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Page Title e seção de video -->
    <mat-card class="video-section">
      <mat-card-content class="flex-container">
        <div id="video-title-div">
          <h2 id="page-title">
            Análise sensorial de preparações funcionais desenvolvidas para
            escolares entre 09 e 15 anos, do município de Campinas/SP
          </h2>
          <iframe
            src="https://www.youtube.com/embed/cSQTZoZPJzs?controls=1"
            id="video-player"
          >
          </iframe>
        </div>
        <div id="work-details">
          <mat-card id="work-details-card">
            <button
              mat-flat-button
              color="warn"
              class="primary-background normal-text-roboto simple-margin-right"
            >
              <img
                src="../assets/download.svg"
                alt="Download icon"
                class="small-icon-img"
              />
              Download
            </button>
            <button
              mat-flat-button
              color="warn"
              class="primary-background simple-margin-right"
            >
              <img
                src="../assets/star.svg"
                alt="Star icon"
                class="small-icon-img"
              />
            </button>
            <button mat-flat-button color="warn" class="primary-background">
              <img
                src="../assets/doi.svg"
                alt="DOI Icon"
                class="small-icon-img"
              />
            </button>
          </mat-card>
          <mat-card class="no-padding-right">
            <a href="/">
              <p class="text-primary-color normal-text-roboto align-text-right">
                COMO CITAR ESSE TRABALHO?
              </p>
            </a>
          </mat-card>
          <mat-card class="card-container" id="detalhes-card-container">
            <div class="card-header">
              <span class="h4-text-roboto text-dark-color">Detalhes</span>
            </div>
            <mat-card-content id="detalhes-cady-body">
              <div>
                <span class="small-text-quicksand text-dark-color"
                  >Tipo de Apresentação:
                </span>
                <span class="small-text-quicksand-bold text-dark-color"
                  >Pôster</span
                >
              </div>
              <div>
                <span class="small-text-quicksand text-dark-color"
                  >Eixo temático:
                </span>
                <span class="small-text-quicksand-bold text-dark-color"
                  >Alimentação e saúde (AS)</span
                >
              </div>
              <div>
                <span class="small-text-quicksand text-dark-color"
                  >Palavras-chaves:
                </span>
                <span class="small-text-quicksand-bold text-dark-color"
                  >Alimentos funcionais, alimentação escolar.</span
                >
              </div>
              <div class="quadruple-margin-top">
                <p class="small-text-quicksand-bold text-dark-color">
                  Autores:
                </p>
                <div class="small-text-quicksand text-dark-color">
                  <p>Galileo Galilei¹</p>
                  <p>Berta Lange de Morretes²</p>
                  <p>Isaac Newton³</p>
                  <p>Cesar Lattes¹</p>
                  <p>Stephen Hawking⁴</p>
                </div>
              </div>
              <div
                class="small-text-quicksand text-light-color quadruple-margin-top"
              >
                <span>¹Universidade Estadual de Campinas <br /> </span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /> </span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /></span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /></span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Resumo -->
    <mat-card>
      <div>
        <mat-card class="card-container">
          <div class="card-header">
            <span class="h4-text-roboto text-dark-color">Resumo</span>
          </div>
          <mat-card-content style="padding: 16px">
            <!-- cria 2 textos, a versão compacta e total e utiliza javascript para alternar entre elas -->
            <div *ngIf="compactText">
              <span class="normal-text-quicksand text-dark-color">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum id commodo odio, nec dignissim dui. Maecenas eu mi
                eget ex dictum ultrices eget sit amet felis. Aenean vel
                porttitor tortor. Morbi pretium leo a lacus euismod condimentum.
                Praesent vehicula est et nibh accumsan hendrerit. Vivamus mattis
                gravida vestibulum. Quisque rutrum nulla ex, eget porta diam
                scelerisque sit amet. Morbi a pellentesque nisi, sed dictum
                tortor. Nam ac elit nibh. Nam sagittis metus eu ante luctus
                ultrices. Curabitur nec sollicitudin massa. Vivamus efficitur
                dignissim risus a sagittis. Donec quam tortor, dignissim ut
                luctus a, fringilla sed nibh. Nunc consequat tortor sed nisl
                cursus, vel tincidunt nunc posuere...
              </span>
              <button
                name="ver mais"
                class="btn-show-more"
                (click)="changeText()"
              >
                ver mais
              </button>
            </div>
            <div *ngIf="allText">
              <span class="normal-text-quicksand text-dark-color">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse vestibulum bibendum ligula, quis vehicula dui
                maximus ut. Nulla aliquet, leo luctus luctus sagittis, sem nulla
                gravida libero, ultricies imperdiet nunc lorem vel purus. Nullam
                elementum turpis id elementum interdum. Sed porta dapibus augue,
                ut sodales lorem feugiat a. Donec libero ante, varius vel
                rhoncus ac, convallis id diam. Suspendisse at leo sed lorem
                pretium laoreet quis eu elit. Donec non sodales dolor. Donec
                quis posuere neque. Mauris accumsan elit mi, vel porta lectus
                lobortis et. Nullam id nisi sit amet velit sodales porttitor.
                Vestibulum non vehicula leo. Nullam vehicula mi sed purus tempus
                lacinia. Integer in eros ligula. Nunc quis mauris gravida,
                tempus ligula vitae, feugiat nunc. Fusce vitae lobortis lectus,
                ultricies egestas leo. Sed id venenatis purus. Sed eu velit eu
                augue bibendum consequat. Vivamus congue neque pulvinar enim
                bibendum feugiat. Interdum et malesuada fames ac ante ipsum
                primis in faucibus. Nam non iaculis tortor, eu viverra lacus.
                Fusce id ligula ut orci mollis gravida. Vestibulum elementum
                magna vel interdum fringilla. Pellentesque interdum lacus eget
                sagittis ornare. Nullam ac tristique arcu, id rutrum justo.
                Aliquam mattis blandit imperdiet. Curabitur vel consequat sem,
                consectetur dapibus sem. Aenean aliquet nibh at volutpat mollis.
                Duis gravida, neque a finibus tristique, turpis ante dapibus
                nunc, ut tristique turpis diam ac est. Donec bibendum pharetra
                tortor tempor efficitur. Vivamus dapibus dictum consequat.
                Pellentesque rutrum eros ut risus sagittis, ac ultricies est
                volutpat. Donec erat erat, cursus et pretium vel, venenatis
                bibendum dolor. Vivamus a malesuada diam. Nullam tristique
                consequat dui quis euismod. Duis id malesuada mi, quis venenatis
                orci. Pellentesque fringilla dapibus eros, sit amet vestibulum
                nisi posuere et. Ut quis sodales tellus. In hac habitasse platea
                dictumst. Vivamus scelerisque sagittis ipsum nec venenatis.
                Nullam molestie mauris fermentum risus faucibus, feugiat
                pellentesque nulla gravida. Ut condimentum lacus ut sem molestie
                varius. Maecenas id facilisis ipsum. Praesent tristique, massa
                vel faucibus fringilla, quam neque luctus risus, at ullamcorper
                nunc diam at ante. Suspendisse nec faucibus quam. Pellentesque
                pretium risus nec diam posuere viverra. Fusce lobortis ligula
                ipsum, quis commodo sapien mollis non. Nam mollis vestibulum
                eleifend. Vestibulum accumsan urna id dui maximus, eget
                sollicitudin massa venenatis. Pellentesque tincidunt, sem vel
                eleifend dapibus, arcu lacus lacinia odio, quis volutpat tortor
                nisl vel sem. Donec molestie rutrum mauris, eu rhoncus arcu
                vulputate at. Nullam luctus egestas risus, quis elementum purus
                congue at. Mauris eu tincidunt quam. Vivamus id elementum purus.
                Morbi non facilisis augue. Donec nisl nunc, euismod vel suscipit
                vitae, maximus venenatis augue. Fusce id lobortis sapien,
                lacinia venenatis lacus. Nunc iaculis pretium tellus, vitae
                gravida est vehicula nec. Vestibulum id ante magna. Etiam enim
                quam, interdum id arcu eget, aliquam posuere orci. Duis id enim
                sollicitudin, auctor urna eget, condimentum eros. Integer
                feugiat volutpat nulla, at fermentum purus pretium posuere.
                Curabitur efficitur euismod tortor vitae porta. Proin et leo
                molestie, posuere dolor nec, dictum nunc. Cras imperdiet leo
                mattis molestie efficitur. Ut non lorem eu mauris malesuada
                sollicitudin. Aenean justo neque, feugiat nec tincidunt sed,
                pharetra ut velit. Fusce augue nisi, cursus ac lectus ut,
                pellentesque placerat dui. In sodales lorem tempus elementum
                iaculis. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra, per inceptos himenaeos. Proin dignissim, arcu id
                auctor iaculis, tortor mi sollicitudin lectus, sed pulvinar erat
                nunc ut quam. Duis nec lobortis elit. Proin sollicitudin
                eleifend ipsum, ut accumsan augue faucibus et. Morbi placerat
                tempus tellus, in varius ante euismod et. Donec ex urna,
                sagittis non tincidunt non, dignissim at ligula. Praesent
                lacinia dui imperdiet felis pulvinar euismod. Donec ac erat
                ligula. Integer eget iaculis nisi. Phasellus nec enim sit amet
                metus aliquet luctus. Mauris convallis nulla nulla. Suspendisse
                potenti. Cras enim risus, accumsan dignissim egestas ac,
                molestie ac lectus. Vestibulum ac nulla ex. Duis rhoncus, eros
                quis ultricies sodales, velit ex condimentum enim, sit amet
                elementum nisl odio ut mauris. Sed pretium tincidunt erat, ac
                venenatis erat vestibulum ut. Fusce quis ipsum eu ipsum feugiat
                tincidunt. Quisque blandit feugiat ligula, ac dignissim lacus
                egestas in. Sed sagittis mattis efficitur. Nam placerat lorem
                enim, sed bibendum tortor lobortis non. In tempus eros quis mi
                efficitur, sit amet tincidunt tortor cursus. Nunc pulvinar
                turpis sed dolor pharetra, sit amet auctor felis ornare. Integer
                at luctus orci. Morbi lectus nulla, eleifend eget odio et,
                ultricies elementum magna. Morbi interdum odio id dui
                condimentum mattis.
              </span>
              <button
                name="ver menos"
                class="btn-show-more"
                (click)="changeText()"
              >
                ver menos
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>

    <!-- Discussões -->
    <mat-card>
      <div>
        <mat-card class="card-container">
          <div class="card-header">
            <span class="h4-text-roboto text-dark-color">Discussões</span>
          </div>
          <!-- Versão inicial -->
          <mat-card-content
            class="discussao-card-content"
            *ngIf="initialDiscussion"
          >
            <h4 class="h4-text-roboto text-primary-color">
              Compartilhe suas ideias ou dúvidas com os autores!
            </h4>
            <div class="triple-margin-top">
              <img
                src="../assets/discussao1.svg"
                alt="Ícone da discussão"
                class="big-margin-right medium-icon-img"
              />
              <img
                src="../assets/discussao2.svg"
                alt="Ícone da discussão"
                class="big-margin-right medium-icon-img"
              />
              <img
                src="../assets/discussao3.svg"
                class="medium-icon-img"
                alt="Ícone da discussão"
              />
            </div>
            <p
              class="normal-text-quicksand text-dark-color quadruple-margin-top discussao-text-details"
            >
              Sabia que o maior estímulo no desenvolvimento científico e
              cultural é a curiosidade? Deixe seus questionamentos ou sugestões
              para o autor!
            </p>
            <button
              mat-raised-button
              color="warn"
              class="linear-background-primary btn-create-topic double-margin-top"
              (click)="changeInitialDiscussion()"
            >
              <img
                src="../assets/icon - criar.svg"
                alt="Download icon"
                class="small-icon-img"
              />
              criar tópico
            </button>
          </mat-card-content>

          <!-- Form -->
          <mat-card-content
            class="discussao-card-content"
            *ngIf="formsDiscussion"
          >
            <p
              class="normal-text-quicksand text-dark-color discussao-text-details"
            >
              Tem uma dúvida ou sugestão? Compartilhe seu feedback com os
              autores!
            </p>

            <form action="" id="form-container">
              <div class="flex-column-container">
                <p class="normal-text-roboto-bold text-primary-color">
                  Assunto
                </p>
                <mat-form-field appearance="outline">
                  <input
                    name="Assunto"
                    matInput
                    placeholder="Defina um tópico sucinto para notificar os autores..."
                    class="normal-text-quicksand text-dark-color subject"
                  />
                </mat-form-field>
              </div>
              <div class="big-form-field flex-column-container">
                <p class="normal-text-roboto-bold text-primary-color">
                  Conteúdo
                </p>
                <mat-form-field appearance="outline">
                  <textarea
                    matInput
                    style="height: 100px"
                    name="Conteúdo"
                  ></textarea>
                </mat-form-field>
              </div>
              <div id="send-container">
                <button
                  mat-raised-button
                  color="warn"
                  class="linear-background-primary normal-text-roboto btn-create-topic"
                  id="send-button"
                  name="Enviar"
                  (click)="changeFormsDiscussion()"
                >
                  Enviar
                </button>
              </div>
            </form>
          </mat-card-content>

          <!-- Discussion Sent -->
          <mat-card-content
            class="discussao-card-content"
            *ngIf="sentFormDiscussion"
          >
            <h4 class="h4-text-roboto text-primary-color">
              Seu tópico foi enviado com sucesso! :D
            </h4>
            <p
              class="normal-text-quicksand text-dark-color triple-margin-top"
              style="text-align: center"
            >
              Agradecemos por sua contribuição, uma notificação será enviada ao
              seu email assim que seu tópico for respondido!
            </p>
            <a
              href="/"
              class="text-primary-color normal-text-quicksand triple-margin-top"
              style="text-decoration-line: underline"
              >Descubra Outros trabalhos</a
            >
            <button
              mat-raised-button
              color="warn"
              class="linear-background-primary normal-text-roboto btn-create-topic quadruple-margin-top"
              id="new-topic-button"
              (click)="changeFormsDiscussion()"
            >
              Criar novo Tópico
            </button>
            <div id="sent-confirmation-container" class="triple-margin-top">
              <img
                src="../assets/checkmark.svg
          "
                alt="ícone para favoritar discussão"
                style="align-self: center"
                class="double-margin-left small-icon-img"
              />
              <p
                class="normal-text-quicksand text-dark-color triple-margin-top"
                style="text-align: center"
              >
                Aguardando feedback dos autores
              </p>
              <a
                href="/"
                class="text-primary-color normal-text-quicksand triple-margin-top"
                style="text-decoration-line: underline; align-self: center"
                >Editar Tópico</a
              >
            </div>
          </mat-card-content>

          <!-- Comentário -->
          <mat-card-content>
            <mat-card>
              <mat-card-content class="card-container display-flex">
                <div
                  class="comment-card answered-topic"
                  (click)="toggleComments()"
                >
                  <h4
                    class="normal-text-quicksand-bold text-primary-color ops-topic-subject"
                    (click)="toggleComments()"
                  >
                    Assunto da pergunta aparece aqui
                  </h4>
                  <p class="small-text-quicksand text-dark-color">
                    Carlos Henrique Santos
                  </p>
                </div>
                <div class="comment-card comments-container">
                  <p class="normal-text-quicksand text-dark-color">
                    Comecinho da pergunta aparece aqui resente relato
                    inscreve-se no campo da análise da dimensão e impacto de
                    processo formativo situado impacto de processo formativo
                    processo...
                  </p>
                  <div
                    class="display-flex"
                    style="align-items: center; height: 40px"
                  >
                    <img
                      src="../assets/mais informações.svg"
                      alt="ícones de mais opções"
                      class="small-icon-img simple-margin-right"
                    />
                    <button
                      class="primary-background simple-margin-right"
                      id="like-button"
                    >
                      <img
                        src="../assets/heart.svg"
                        alt="ícone para favoritar discussão"
                        class="small-icon-img"
                      />
                    </button>

                    <p class="no-margin-botton simple-margin-right">1 like</p>
                    <p class="no-margin-botton">1 resposta</p>
                  </div>
                </div>
              </mat-card-content>
              <div class="comments-container" *ngIf="expandedComentary">
                <mat-card-content
                  class="card-container no-margin-botton display-flex author-comment-card"
                >
                  <div class="double-padding">
                    <div class="display-flex">
                      <p
                        style="flex: 1"
                        class="small-text-quicksand-bold text-dark-color"
                      >
                        Adriano da Silva
                      </p>
                      <p class="normal-text-quicksand text-primary-color">
                        Autor
                      </p>
                      <img
                        src="../assets/checkmark.svg
                        "
                        alt="ícone para favoritar discussão"
                        class="double-margin-left small-icon-img"
                      />
                    </div>
                    <p class="normal-text-quicksand text-dark-color">
                      Resposta do autor é aqui. Relato inscreve-se no campo da
                      análise da dimensão e impacto de processo formativo
                      situado impacto de processo formativo processo resente
                      relato inscreve-se no campo da análise da dimensão e
                      impacto de processo formativo situado impacto de processo
                      formativo processo.
                    </p>
                  </div>
                </mat-card-content>
                <mat-card-content
                  class="card-container no-margin-botton display-flex"
                >
                  <div class="double-padding">
                    <div class="display-flex">
                      <p
                        style="flex: 1"
                        class="small-text-quicksand-bold text-dark-color"
                      >
                        Carlos Henrique Santos
                      </p>
                    </div>
                    <p class="normal-text-quicksand text-dark-color">
                      Consegui entender melhor agora! Parece que a variação da
                      análise da dimensão e impacto de processo formativo
                      situado impacto de processo formativo. Obrigada pela
                      resposta, muito interessante o seu trabalho!
                    </p>
                  </div>
                </mat-card-content>
                <mat-card-content
                  class="card-container no-margin-botton display-flex author-comment-card"
                >
                  <div class="double-padding">
                    <div class="display-flex">
                      <p
                        style="flex: 1"
                        class="small-text-quicksand-bold text-dark-color"
                      >
                        Carmila Ferreira Andrade
                      </p>
                      <p class="normal-text-quicksand text-primary-color">
                        Coautor
                      </p>
                      <img
                        src="../assets/checkmark.svg
                      "
                        alt="ícone para favoritar discussão"
                        class="double-margin-left small-icon-img"
                      />
                    </div>
                    <p class="normal-text-quicksand text-dark-color">
                      Também ínteressante lembrar que o relato inscreve-se no
                      campo da análise da dimensão e impacto de processo
                      formativo situado impacto de processo formativo processo
                      resente relato inscreve-se no campo da análise da dimensão
                      e impacto de processo formativo situado impacto de
                      processo formativo processo. Situado impacto de processo
                      formativo processo resente relato inscreve-se no campo da
                      análise da dimensão e impacto de processo formativo
                      situado impacto de processo formativo processo.
                    </p>
                  </div>
                </mat-card-content>
                <mat-card-content
                  class="card-container no-margin-botton display-flex author-comment-card"
                >
                  <div class="double-padding">
                    <div class="display-flex">
                      <p
                        style="flex: 1"
                        class="small-text-quicksand-bold text-dark-color"
                      >
                        Ana Carolina
                      </p>
                      <p class="normal-text-quicksand text-primary-color">
                        Coautor
                      </p>
                      <img
                        src="../assets/checkmark.svg
                      "
                        alt="ícone para favoritar discussão"
                        class="double-margin-left small-icon-img"
                      />
                    </div>
                    <p class="normal-text-quicksand text-dark-color">
                      Resposta do autor é aqui. Relato inscreve-se no campo da
                      análise da dimensão e impacto de processo formativo
                      situado impacto de processo formativo processo resente
                      relato inscreve-se no campo da análise da dimensão e
                      impacto de processo formativo situado impacto de processo
                      formativo processo.
                    </p>
                  </div>
                </mat-card-content>
              </div>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
    <!-- Footer -->
    <mat-card>
      <mat-card-content>
        <img
          src="../assets/imagem - footer.svg"
          alt="O footer da página"
          style="width: 100%"
        />
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
