<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="sidebar">
    <div>
      <div class="event-header">
        <a href="...."><h3>SLACA 2019</h3></a>
      </div>
      <img src="../assets/dewey 4.png" alt="Logo do evento" />
      <mat-nav-list>
        <a mat-list-item href="...">Apresentação</a>
        <a mat-list-item href="...">Comitês</a>
        <a mat-list-item href="...">Autores</a>
        <a mat-list-item href="...">Eixos temáticos</a>
        <!-- Cria uma div para colocar detalhe colorido ao lado da opção ativa. -->
        <div class="active-option">
          <div class="active-option-detail"></div>
          <a mat-list-item href="...">Trabalhos</a>
        </div>
        <a mat-list-item href="...">Contato</a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main-body">
    <!-- Cria card para header. -->
    <mat-card style="background: #fdf1eb">
      <mat-card-content class="flex-container">
        <div>
          <p class="header-text">
            Anais do Simpósio Latino Americano de Ciências de Alimentos
          </p>
          <h3 class="header-heading">
            Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
          </h3>
          <p class="header-text">ISSN: 1234-5678</p>
        </div>

        <div class="profile-container">
          <div class="language-dropdown">
            <img
              src="../assets/language image.png"
              alt=""
              style="width: 22px; height: 22px"
            />
            <select name="select" class="language-selector">
              <option value="pt-br" selected>PT, BR</option>
              <option value="en-us">EN, US</option>
            </select>
          </div>

          <div style="display: flex; margin-left: 24px">
            <div>
              <p style="text-align: right; color: #333" class="header-text">
                Bem Vindo!
              </p>
              <p class="header-text" style="color: #333; font-size: 12px">
                alguem12@galoascience.com
              </p>
            </div>
            <div matBadge="3" matBadgeColor="warn">
              <img
                src="../assets/profile.jpg"
                alt="Profile Picture"
                class="profile-picture"
              />
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Page Title e seção de video -->
    <mat-card class="video-section">
      <mat-card-content class="flex-container">
        <div style="flex: 3; display: flex; flex-direction: column">
          <h2 class="title">
            Análise sensorial de preparações funcionais desenvolvidas para
            escolares entre 09 e 15 anos, do município de Campinas/SP
          </h2>
          <iframe
            src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=1"
            style="height: 100%"
          >
          </iframe>
        </div>
        <div style="flex: 1">
          <mat-card
            style="display: flex; justify-content: flex-end; padding: 0px"
          >
            <button
              mat-flat-button
              color="warn"
              class="button"
              style="margin-right: 8px"
            >
              <img
                src="../assets/download.svg"
                alt=""
                style="width: 20px; height: 20px"
              />
              Download
            </button>
            <button
              mat-flat-button
              color="warn"
              class="button"
              style="margin-right: 8px"
            >
              <img
                src="../assets/star.svg"
                alt=""
                style="width: 20px; height: 20px"
              />
            </button>
            <button mat-flat-button color="warn" class="button">
              <img
                src="../assets/doi.svg"
                alt=""
                style="width: 20px; height: 20px"
              />
            </button>
          </mat-card>
          <mat-card style="padding-right: 0px">
            <a href="...">
              <p class="header-text" style="color: #ed7839; text-align: right">
                COMO CITAR ESSE TRABALHO?
              </p>
            </a>
          </mat-card>
          <mat-card class="details-card">
            <div>
              <span class="card-header-text">Detalhes</span>
            </div>
            <mat-card-content
              style="padding: 16px; flex: 1 1 auto; overflow-y: auto"
            >
              <div>
                <span class="details-topic">Tipo de Apresentação: </span>
                <span class="details-text">Pôster</span>
              </div>
              <div>
                <span class="details-topic">Eixo temático: </span>
                <span class="details-text">Alimentação e saúde (AS)</span>
              </div>
              <div>
                <span class="details-topic">Palavras-chaves: </span>
                <span class="details-text"
                  >Alimentos funcionais, alimentação escolar.</span
                >
              </div>
              <div style="margin-top: 32px">
                <p class="details-text">Autores:</p>
                <div class="details-topic">
                  <p>Galileo Galilei¹</p>
                  <p>Berta Lange de Morretes²</p>
                  <p>Isaac Newton³</p>
                  <p>Cesar Lattes¹</p>
                  <p>Stephen Hawking⁴</p>
                </div>
              </div>
              <div class="details-references" style="margin-top: 32px">
                <span>¹Universidade Estadual de Campinas <br /> </span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /> </span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /></span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
                <span>¹Universidade Estadual de Campinas <br /></span>
                <span>²Universidade de São Paulo <br /></span>
                <span>³Instituto Nacional de Pesquisas Espaciais <br /></span>
                <span>⁴Universidade Federal do Rio de Janeiro <br /></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
